.timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.time {
  color: #da0037;

  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inconsolata, monospace;
}
.speed {
  color: #da0037;

  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inconsolata, monospace;
}
.accuracy {
  color: #da0037;

  font-size: 30px;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inconsolata, monospace;
}
@media only screen and (max-width: 600px) {
  .timer-container {
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
  }
}
