.correct {
  font-weight: bold;
  color: green;
}
.incorrect {
  font-weight: bold;
  color: red;
}
.active {
  color: white;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1100px;
  background-color: #171717;
}
.word-container {
  width: 60%;
  padding: 10px;
  font-size: 30px;
  color: grey;
}
.header {
  color: rgb(112, 109, 109);

  border-right: 4px solid;
  padding-right: 10px;
  animation: blinkingCursor 2s infinite;
}
@keyframes blinkingCursor {
  0% {
    border-right-color: #da0037;
  }
  25% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #da0037;
  }
  75% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #da0037;
  }
}
.sub-header {
  color: #da0037;
}
.input-box {
  width: 60%;
  height: 50px;
  border: 2px grey solid;
  background-color: transparent;
  color: white;
  font-size: 25px;
  outline: none;
  border-radius: 4px;
}
.input-box::placeholder {
  color: rgb(112, 109, 109);
}
.reload-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.reload-icon {
  font-size: 40px;
  color: white;
}
@media only screen and (max-width: 600px) {
  .input-box {
    font-size: 18px;
  }
  .word-container {
    font-size: 18px;
  }
}
